.gallery {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 16px;
    }


}

.film-wrapper {
    min-width: 280px;

    @media screen and (min-width: 768px) {
        width: 336px;
        height: auto;
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
        height: auto;
        margin-bottom: 12px;
    }

}

.film-img {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        width: 336px;
        height: 455px;
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1280px) {
        width: 394px;
        height: 574px;
        margin-bottom: 12px;
    }
}

.film-title {
    text-transform: uppercase;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2;
    }
}

.film-genres {
    color: $accent-color;

    @media screen and (min-width: 1280px) {
        font-size: 20px;
        line-height: 1.2
    }
}